<div>
  <nav>
    <p align="center"><b>Don't have an account?</b><br> <a routerLink="/signup">Signup  here</a><br></p>

    <p align="center"><b>Already have an account?</b><br><a routerLink="/login">Login here</a></p>
  </nav>
</div>
