<div class="container-fluid">
  <h1>Login</h1>

  <h5 class="text-danger">{{feedback}}</h5>
  <form #userLoginForm="ngForm" novalidate (ngSubmit)="onLoginSubmit()">


    <div class="form-group">
      <label>Email</label>
      <input required type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             [class.is-invalid]="email.invalid && email.touched" #email="ngModel" name="email"
             class="form-control" [(ngModel)]=scrumUserLoginData.email>
      <div *ngIf="email.errors && (email.invalid || email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Please put a valid Email</small>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input required type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,15}$"
             [class.is-invalid]="password.invalid && password.touched"
             #password="ngModel" name="password " class="form-control"
             [(ngModel)]=scrumUserLoginData.password>
      <div *ngIf="password.errors && (password.invalid || password.touched)">
        <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
        <small class="text-danger" *ngIf="password.errors.pattern">Password must be 8-15 characters long containing a
          special character and a number</small>
      </div>
    </div>

    <div class="form-group">
      <label>Project Name</label>
      <input required type="text" [class.is-invalid]="projectname.invalid && projectname.touched"
             #projectname="ngModel" name="projectname" class="form-control"
             [(ngModel)]="scrumUserLoginData.projectname">
      <div *ngIf="projectname.errors && (projectname.invalid || email.touched)">
        <small class="text-danger" *ngIf="projectname.errors.required">Project Name is required</small>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>

  </form>
</div>
