<div class='container'>

  <table *ngFor='let participant of _participants' class='table' style='width:100%'>

    <hr>
    <h6><strong><i class="fa fa-user"></i>    {{ participant['user']['nickname'] }}</strong></h6>

    <tr>
      <th>Tasks For The Week</th>
      <th>Tasks For The Day</th>
      <th>Verify</th>
      <th>Done</th>
    </tr>

    <tr>
      <td>
        <div cdkDropList #tftwList='cdkDropList' [cdkDropListData]='tftw'
             [cdkDropListConnectedTo]= "[tftdList, verifyList]" (cdkDropListDropped)=drop($event)>
          <div *ngFor="let goal of participant['scrumgoal_set']" cdkDrag>
            <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
              {{ goal['name'] }}<br>
              {{ goal['id'] }}
              <p>status: {{ goal['status'] }}</p>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div cdkDropList #tftdList='cdkDropList' [cdkDropListData]='tftd'
             [cdkDropListConnectedTo]= "[tftwList, verifyList]" (cdkDropListDropped)=drop($event)>
          <div *ngFor="let goal of participant['scrumgoal_set']" cdkDrag>

            <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
              {{ goal['name'] }}<br>
              {{ goal['id'] }}
              <p>status: {{ goal['status'] }}</p>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div cdkDropList #verifyList='cdkDropList' [cdkDropListData]='verify'
             [cdkDropListConnectedTo]= "[tftwList, tftdList]" (cdkDropListDropped)=drop($event)>
          <div *ngFor="let goal of participant['scrumgoal_set']" cdkDrag>
            <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
              {{ goal['name'] }}<br>
              {{ goal['id'] }}
              <p>status: {{ goal['status'] }}</p>
            </div>
          </div>
        </div>
      </td>

      <td>
        <div cdkDropList #doneList='cdkDropList' [cdkDropListData]='done'
             [cdkDropListConnectedTo]= "[tftwList, tftdList, verifyList]" (cdkDropListDropped)=drop($event)>
          <div *ngFor="let goal of participant['scrumgoal_set']" cdkDrag>
            <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
              {{ goal['name'] }}<br>
              {{ goal['id'] }}
              <p>status: {{ goal['status'] }}</p>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <hr>
</div>

