<div class="container-fluid">
  <h1>Create a new account</h1>


  <div><h5 class="text-danger">{{feedback}}</h5></div>


  <form #userSignupForm="ngForm" novalidate (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Email</label>
      <input required type="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             [class.is-invalid]="email.invalid && email.touched" #email="ngModel" name="email"
             class="form-control" [(ngModel)]=scrumUserModel.email>
      <div *ngIf="email.errors && (email.invalid || email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Please put a valid Email</small>
      </div>
    </div>

    <div class="form-group">
      <label>Full Name</label>
      <input required type="text" [class.is-invalid]="fullname.invalid && fullname.touched" #fullname="ngModel"
             name="fullname"
             class="form-control" [(ngModel)]=scrumUserModel.fullname>
      <div *ngIf="fullname.errors">
        <small class="text-danger">This field is required</small>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input required type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,15}$"
             [class.is-invalid]="password.invalid && password.touched"
             #password="ngModel" name="password " class="form-control"
             [(ngModel)]=scrumUserModel.password>
      <div *ngIf="password.errors && (password.invalid || password.touched)">
        <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
        <small class="text-danger" *ngIf="password.errors.pattern">Password must be 8-15 characters long containing a
          special character and a number</small>
      </div>
    </div>

    <div class="form-group">
      <label>User Type</label>
      <select required [class.is-invalid]="usertype.invalid && usertype.touched" #usertype="ngModel" name="usertype"
              class="custom-select" [(ngModel)]=scrumUserModel.usertype>
        <option *ngFor="let type of userTypes">{{type}}</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit">Create User</button>
  </form>

</div>
